.gamesWindow {
    height: 100vh;
    position: relative;
}
.gamesWindowBg {
    height: 100%;
    z-index: -5;
    position: absolute;
    width: 100%;
}
.gamesWindowSky {
    background: url(../../images/gamesComponentSky.png) repeat-x;
    background-size: 600px;
    background-size: contain;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 80%;
}
.gamesWindowSand {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 45%;
    background: linear-gradient(930deg, #FFDC36, #FCA43E);
}
.gamesWindowText {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    background: url(../../images/gamesTextBg.png) no-repeat;
    width: 447px;
    text-align: center;
    background-size: cover;
    left: 50%;
    top: 70px;
    padding: 37px 34px;
    transform: translateX(-50%);
}
.plaksaImages {
    position: absolute;
    top: -70px;
    right: 50px;
}
.plaksaImages img {
    margin-left: 15px;
}
.gamesWindowBottomText {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    background: url(../../images/gamesBottomTextBg.png) no-repeat;
    background-size: cover;
    width: 505px;
    text-align: center;
    padding: 37px 34px;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
}
.gamesWindowText .header, .gamesWindowBottomText .header {
    font-size: 25px;
    color: #FEED03;
}
a.header {
    text-decoration: none;
    margin: 10px auto 0 auto;
    display: block;
    width: 143px;
}
a.header:hover:after {
    width: 150px;
    transform: translateX(-75px);
}
a.header:after {
    display: block;
    content: ' ';
    width: 0px;
    height: 3px;
    transition: 0.5s all;
    left: 50%;
    position: absolute;
    background: #FEED03;
}
.gameGrass {
    position: absolute;
    bottom: 30%;
    left: 40%;
}
.game-grass-1 {
    position: absolute;
    width: 97px;
    height: 95px;
    background: url(../../images/grass-3-3.png);
    animation: 1s windy-grass infinite;
}
.game-grass-2 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 106px;
    height: 79px;
    background: url(../../images/grass-3-4.png);
    animation: 3s windy-grass infinite;
}
.gamesWindowText .text-data, .gamesWindowBottomText .text-data {
    font-size: 16px;
    color: white;
}
.gameMechanic {
    background: white;
    border-radius: 47px;
    padding: 35px;
    box-shadow: 10px 10px 0px #A84F9A;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    width: 522px;
    top: 255px;
    left: 50%;
    transform: translateX(-50%);
}
.gameButtons {
    position: absolute;
    width: 535px;
    top: 525px;
    left: 50%;
    transform: translateX(-50%);
}
.gameLogo {
    cursor: pointer;
    width: 65px;
    margin-left: 10px;
    margin-top: 12px;
    transition: 0.1s all;
}
.gameLogo:hover {
    width: 75px;
    margin-top: 0px;
    margin-left: 5px;
}
.gameImg {
    float: left;
    margin-left: 25px;
}
.gameData {
    float: left;
    width: 55%;
    color: #278DC5;
    margin-left: 55px;
}
.gameName {
    font-size: 20px;
    margin-bottom: 10px;
}
.playLink {
    text-decoration: none;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 0px #A84F9A;
    background: #FFDF00;
    display: block;
    width: 120px;
    padding: 10px;
    text-align: center;
}

.leave {
    opacity: 0;
    transition: .3s all;
}
.stay {
    opacity: 1;
    transition: .3s all;
}