.footerContainer{
    background: linear-gradient(135deg, #1082bf, #eec4ef);
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.footerWindow{
    position: relative;
}
.footerWindow::before{
    background: url(../../images/melon.png) no-repeat center;
    background-size: contain;
    width: 130px;
    height: 130px;
    left: 2%;
    top: -5%;
    position: absolute;
    content:'';
    z-index: 500;
}
.footerWindow::after{
    background: url(../../images/ufo3_3.png) no-repeat center;
    background-size: contain;
    width: 130px;
    height: 130px;
    right: 5%;
    top: -5%;
    position: absolute;
    content:'';
    z-index: 500;
}
.footerContainer .sandContainer{
    height: 140px;
    bottom: -25px;
}
.footerContainer .grassContainer{
    height: 110px;
    bottom: 4px;
}
.footerData{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 150;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 80px;
}
.logoAll{
    display: flex;
}
.logoAll .logo-d{
    height: 120px;
    position: relative;
    z-index: 1000;
}
.logoAll .logo-p{
    position: relative;
    z-index: 1000;
}
.logoAll > div::before{
    content: '';
    position: absolute;
    top: -85px;
    left: 8px;
    height: 120px;
    width: 120px;
    background: url(/static/media/orange.6937949e.png) no-repeat center;
    background-size: contain;
    transform: rotateY(180deg);
}
.logoAll .logo-d::before{
    background: url(../../images/prilipaly/10.png) no-repeat center;
    background-size: contain;
    width: 60px;
    right: 0;
    left: -102px;
    margin: auto;
    top: -69px;
    transform: rotate(-45deg);
}
.logoAll > div{
    position: static;
}
.footerNavigationPanel{
    background-color: rgba(255,255,255,.7);
    width: 100%;
    position: relative;
    margin: 35px 0;
}
.footerNavigationPanel::before{
    content:'';
    position: absolute;
    height: 150%;
    width: 120px;
    background: url(../../images/banana.png) no-repeat center;
    background-size: contain;
    left: 80%;
    bottom: 150%;
}
.footerNavigationPanel::after{
    content:'';
    position: absolute;
    height: 120px;
    width: 120px;
    height: 40px;
    width: 40px;
    background: url(../../images/raspberry1-noacod.png) no-repeat center;
    background-size: contain;
    left: 65%;
    bottom: 150%;
}
.footerNavigationPanel ul{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    position: relative;
}
.footerNavigationPanel ul::before{
    content:'';
    position: absolute;
    height: 70px;
    width: 70px;
    background: url(../../images/tomat1.png) no-repeat center;
    background-size: contain;
    transform: rotate(90deg);
    left: 20%;
    bottom: 150%;
}
.footerNavigationPanel ul li{
    list-style: none;
    margin: 0 10px;
}
.footerNavigationPanel a, .socialLinks > a{
    color: #a84f9a;
    position: relative;
    transition: all .3s;
    text-decoration: none;
    font-family:  'Ubuntu', sans-serif;;
    font-weight: bold;
}
.footerNavigationPanel a::after, .socialLinks > a::after{
    width: 0%;
    bottom: -3px;
    position: absolute;
    content: '';
    transition: all .3s;
    background-color: #a84f9a;
    height: 1px;
    left: 0
}
.socialLinks{
        margin: 40px 0;
}
.socialLinks > a::after{
    background-color: #fff;
}
.footerNavigationPanel a:hover, .socialLinks > a:hover{
    filter: brightness(0.5);
}
.footerNavigationPanel a:hover::after, .socialLinks > a:hover::after{
    width: 100%;
    bottom: -3px;
    position: absolute;
    content: '';
    background-color: #a84f9a;    
    transition: all .3s;
    height: 1px;
    left: 0
}
.socialLinks > a:hover::after{
    background-color: #fff;
}
.rules{
    display: block;
    max-width: 50%;
    color: #fff;
    font-family:  'Ubuntu', sans-serif;;
    font-size: 14px;
    line-height:1.5;
    margin: 0 auto;
}
.socialLinks, .GamingCenter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.socialLinks > a{
    display: block;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    height: 20px;
}
.smmLinks a i {
    font-family: 'FontAwesome';
    font-style: normal;
    color: #584b80;
}
.smmLinks{
    display: flex;
    margin-left: 50px;
}
.smmLinks a{
    text-decoration: none;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.smmLinks a:hover{
    background-color: #584b80;
}
.smmLinks a:hover i{
    color: #fff;
}
.GamingCenter a{
    margin: 0 10px;
}

.goog-pl{
    position: relative;
}
.goog-pl::before{
    content:'';
    position: absolute;
    height: 40px;
    width: 40px;
    background: url(../../images/eggplant4.png) no-repeat center;
    background-size: contain;
    top: -30px;
    left: -20px;
}
.goog-pl::after{
    content:'';
    position: absolute;
    height: 50px;
    width: 50px;
    background: url(../../images/banana.png) no-repeat center;
    background-size: contain;
    left: 30px;
    bottom: -30px;  
}
.appStore{
    position: relative;
}
.appStore::before{
    content:'';
    position: absolute;
    height: 90%;
    width: 70px;
    background: url(../../images/ufo3_7.png) no-repeat center;
    background-size: contain;
    left: -70px;
    bottom: 30px;
}
.appStore::after{
    content:'';
    position: absolute;
    height: 40px;
    width: 40px;
    background: url(../../images/raspberry1-noacod.png) no-repeat center;
    background-size: contain;
    left: 210%;
    bottom: 50px;
}
.footerBgAnimated{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3000;
}
.arbuz{
    position: absolute;
    top: 5%;
    left: 3%;
    width: 9vh;
    height: 9vh;
    background: url(../../images/melon.png) no-repeat center;
    background-size: 130%;
}
.nlo{
    position: absolute;
    top: 5%;
    left: 87%;
    width: 14vh;
    height: 15vh;
    background: url(../../images/ufo3_3.png) no-repeat center;
    background-size: 100%;
}
.pomidor{
    position: absolute;
    top: 32%;
    left: 20%;
    width: 7vh;
    height: 7vh;
    background: url(../../images/toma2.png) no-repeat center;
    background-size: contain;
}
.malina{
    position: absolute;
    top: 30%;
    left: 65%;
    width: 8vh;
    height: 9vh;
    background: url(../../images/raspberry1-noacod.png) no-repeat center;
    background-size: 100%;
}
.banan{
    position: absolute;
    top: 28%;
    left: 86%;
    width: 14vh;
    height: 15vh;
    background: url(../../images/banana.png) no-repeat center;
    background-size: 100%;
}
.footerWindow::after, .footerWindow::before, .footerNavigationPanel::before, .footerNavigationPanel::after, .footerNavigationPanel ul::before{
    display: none;
}