.sliderContainer{
    background: linear-gradient(180deg, #DCFC00, #FE9103);
    min-height: 80vh;
    position: relative;
}
.sliderContainer::after{
    content: '';
    position: absolute;
    height: 70px;
    bottom: -35px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FE9103;
    border-radius: 62%;
}