.sliderContainer{
    background: linear-gradient(180deg, #DCFC00, #FE9103);
    height: 875px;
    overflow: hidden;
}
.sliderWindow::after{
    content: '';
    position: absolute;
    height: 150px;
    bottom: -75px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FE9103;
    border-radius: 50%;
    z-index: -1;
}
.infoBlockContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
.sliderWindow{
  position: relative;
  z-index: 30;
}
.sliderWindow .infoBlock.shadowViolet{
    background-color: #A84F9A;
    color: #fff;
    max-width: 270px;
    padding: 10px 25px;
    margin-left: 50px;
    transform: rotate(-5deg);
}
.sliderWindow .red{
    margin-right: 70px;
    transform: rotate(5deg);
}