.prilipalyContainer{
    position: absolute;
    height: 370px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.piggy{
    animation: appearance 1.5s linear, 7s swell  infinite;
    position: relative;
    left: 110px;
    bottom: -5px;
    z-index: 40;
}
.blue{
    position: relative;
    align-self: flex-end;
    bottom: 15%;
    animation: appearance 2.2s  ease-in-out, 7s swell  infinite;
    left: 320px;
    z-index: 35;
}
.orange{
    position: relative;
    left: 50px;
    bottom: 5px;
    animation: appearFromRight 2.2s ease-in-out, swell 13s infinite;
    z-index: 15;
}
.green{
    position: relative;
    align-self: flex-start;
    top: -125px; 
    right: 145px;
    z-index: 45;
    animation: appearFromRight 1.5s ease-in;
}
.heart-box {
    position: absolute;
    width: 240px;
    height: 300px;
    bottom: 250px;
    left: 35px;
    animation: appearance 1.5s linear;
  }
  .heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../images/heart-lil.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
  }
  .animate-topright {
    animation: movetopRight 3.5s 1s infinite;
  }
  .animate-topleft {
    animation: movetopLeft 4.5s 1s infinite;
  }
  .animate-up {
    animation: moveup 2.5s 1s infinite;
  }
  .top-2{
      margin-top: 30px;
      margin-left: 70px;
      animation: moveup 2.5s 1.3s infinite;
      transform: scale(1.2)
  }
  .top-1{
      margin-top: 40px;
      margin-left: -20px;
      animation: moveup 2.5s 1.5s infinite;
      transform: scale(.6)
  }
@keyframes movetopRight {
    0% {
      top: 50%;
      left: 50%;
      opacity: 0.9;
    }
    100% {
      top: 10%;
      left: 80%;
      opacity: 0;
    }
  }
  
@keyframes movetopLeft {
    0% {
      top: 50%;
      left: 50%;
      opacity: 0.9;
    }
    100% {
      top: 10%;
      left: 20%;
      opacity: 0;
    }
  }
  @keyframes moveup {
    0% {
      top: 50%;
      left: 50%;
      opacity: 0.9;
    }
    100% {
      top: 0%;
      left: 45%;
      opacity: 0;
    }
  }