.sandContainer{
    width: 100%;
    bottom: -25px;
    position: absolute;
    height: 350px;
}
.sand{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.sand-1{
    background: url(../../images/back-sand.png) no-repeat;
    background-size: contain;
    background-position: 100% bottom;
    height: 370px;
    animation: appearFromRight 1.8s ease-in-out, swell 13s infinite linear;
    z-index: 10;
}
.sand-2{
    background: url(../../images/sec-sand.png) no-repeat;
    background-size: contain;
    background-position: 20% bottom;
    height: 195px;
    animation: appearance 1.3s ease-in, swell 4s infinite linear;
    z-index: 20;
}
.sand-3{
    background: url(../../images/fr-sand.png) no-repeat;
    background-size: contain;
    background-position: 0 bottom;
    height: 230px;
    animation: appearance 1.4s ease-in, swell 7s infinite;
    z-index: 30;
}