.welcomeWindow{
    height: 100vh;
    position: relative;
    width: 100vw;
    z-index: 0;
}
.welcomeContent{
    position: relative;
    height: 100%;
}
.welcomeDataContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40;
}
.planes{
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 400px;
}
.plane{
    background-image: url(../../images/plane.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    right: 0%;
    top: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 120px;
    animation: movetopPlane 8s infinite;
}
.plane-2{
    width: 70px;
    height: 40px;
    right: -20%;
    animation: movetopPlane 8.5s .6s infinite;
}
.plane-3{
    width: 50px;
    height: 40px;
    right: -20%;
    animation: movetopPlane 8.8s 1.2s infinite;
}
@keyframes movetopPlane {
    0% {
      top: 50%;
      right: 5%;
      opacity: 1;
    }

    50% {
      top: -70%;
      right: 80%;
      opacity: 0;
    }
    100% {
        top: -70%;
        right: 80%;
        opacity: 0;
      }
  }