.sponsorsCarousel{
    flex: 60%;
    max-width: 60%;
    margin-left: 60px;
    padding: 36px 0;
}
.item, .item-info{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    outline: none;
    border: none;
}
.itemFullName p, .itemPrice p{
    color:#fff;
    font-family: Ubuntu;
    text-align: center;
    display: block;
    max-width:80%;
    font-size: 1em;
    margin: 10px auto;

}
.itemPrice p{
    font-size: .7em;
    max-width:100%;
}
.item-img{
    display: flex;
    justify-content: center;
    height: 190px;
    width: 150px;
    margin: auto;
    align-items: flex-end;
}
.item-info{
    position: relative;
    top: 6px;
}
.item-info-data{
    position: absolute;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    bottom: 0;
    font-size: 13px;
    font-family: Ubuntu;
    display: none;

}
.item-info-data::after{
    content:'';
    position: absolute;
    bottom: 0;
    width: 92px;
    height: 92px;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
    z-index:100;

}
.item-info-data.active{
    display: block;
}
.item-info-icon{
    position: relative;
    z-index: 1000;
    cursor: help;
}

.block {
    background: green;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff;
   }
   .block::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 20px; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid green; /* Добавляем треугольник */
   }
    .slick-list {
        margin-right: 100px;
    }
    .currentGoodPage {
        position: absolute;
        left: 14%;
        bottom: 60px;
        color: white;
        font-size: 29px;
        font-family: Ubuntu;
    }
   .slick-arrow.slick-prev{
    position: absolute;
    left: 9%;
    bottom: -20px;
    margin-top: 130px;
    z-index: 330;
   }
 
   .slick-arrow.slick-next{
    position: absolute;
    left: 21%;
    bottom: -20px;
    margin-top: 130px;
    z-index: 330;
   }
   .slick-slider{
       position: static;
       padding: 20px 0;
   }