.cloudsContainer{
    width: 100%;
    top: 90px;
    position: relative;
}
.cloud-1{
    background: url(../../images/clouds-1.png) 0 200px;
    animation: wind 30s alternate-reverse infinite;
    background-size: contain;
    height: 120px;
    width: 100%;
}
.cloud-2{
    background: url(../../images/clouds-2.png) 0 300px;
    animation: wind 50s ease-in-out infinite;
    background-size: contain;
    height: 200px;
    width: 100%;
}
@keyframes wind{
    0% {
        background-position: 0 0px, 0 300px;
    }
    100% {
        background-position: 1160px 0px, 1200px 300px;
    }
}