.cloudsContainer{
    width: 100%;
    top: 100px;
    position: relative;
    filter: grayscale(1);
    animation-delay: 0ms;
}
.cloud-1{
    background: url(../../images/clouds-1.png) 0 200px;
    animation: wind 25s linear infinite;
    background-size: contain;
    height: 120px;
    width: 100%;
    margin-bottom: 80px;
    
}
.cloud-1::after{
    background: url(../../images/clouds-1.png) 0 200px;
    animation: wind 15s linear infinite;
    background-size: contain;
    height: 90px;
    width: 100%;
    position: absolute;
    top: 120px;
    content:'';
}
.cloud-2{
    background: url(../../images/clouds-2.png) 0 300px;
    animation: wind 10s linear infinite;
    background-size: contain;
    height: 230px;
    width: 100%;
}
.cloud-2::after{
    background: url(../../images/clouds-2.png) 0 200px;
    animation: wind 18s linear infinite;
    background-size: contain;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 220px;
    opacity: .3;
    content:'';
}
@keyframes wind{
    0% {
        background-position: 0 0px, 0 300px;
    }
    100% {
        background-position: 1160px 0px, 1200px 300px;
    }
}