.cloudsContainer{
    width: 100%;
    top: 100px;
    position: relative;
    filter: grayscale(1);
    height: 500px;
    background: url('../../images/clouds-1.png') repeat-x;
    /* background-size: 100%; */
    animation: carousel 2s infinite linear;
}
.clouds-canvas{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}

@keyframes carousel{
    from{
        background-position: -100%;
    }
    to{
        background-position: 100%;
    }
  
}