.sliderRounded{
    height: 52%;
    padding: 35px;
    padding-bottom: 100px;
}

  .container {
    width: 90%;
    height: 740px;
    margin: 0 auto;
    /* overflow: hidden; */
  }
  
  .circle-carousel {
    position: relative;
    padding-top: 100%;
    
  }
  .circle-carousel .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .circle-carousel .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
  }
  .circle-carousel .slide.active {
    z-index: 1;
    opacity: 1;
  }
  .circle-carousel .pagination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    /* border: 3px solid white; */
    transition-property: transform;
    transition-timing-function: ease-out;
    pointer-events: none;
    user-select: none;
  }
  .circle-carousel .pagination .dot {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    pointer-events: auto;
    transition: .3s;
  }
  .circle-carousel .pagination .dot:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: black;
  }
  .circle-carousel .pagination .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .circle-carousel .pagination .item.active .dot {
    color: black;
    transform: scale(2);
    border: 1px solid #fff;
    left: 0;
    right: 0;
    margin: auto;
    top: -50px;
  }
  .dot span img{
      max-width: 100px;;
  }
  .circle-carousel .next,
  .circle-carousel .prev {
    position: absolute;
    bottom: 6%;
    z-index: 1;
    transition: .3s;
    user-select: none;
    width: 35px;
    height: 40px;
    background-color: #A84F9A;
    border-radius: 0 15px 15px 0;
  }
  .circle-carousel .next::before,
  .circle-carousel .prev::before {
    content: '';
    position: absolute;
    background: url(../../images/path.png) no-repeat;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: .3s;
    width: 20px;
    height: 20px;
    left: 5px;
    top: calc(50% - 10px);
  }

  .circle-carousel .next:hover,
  .circle-carousel .prev:hover {
    cursor: pointer;
    
  }

  .circle-carousel .next {
    right: 30%;
    bottom: 70%;
  }
  .circle-carousel .next:before {
    transform: rotateY(180deg);
  }
  .circle-carousel .prev::before{
    top: calc(50% - 10px);
    left: 20px;
    top: 20px;
  }
  .circle-carousel .prev {
    left: 30%;
    bottom: 70%;
    border-radius: 15px 0 0 15px;
  }