.sliderRounded{
    height: 52%;
    padding: 35px;
    padding-bottom: 100px;
}

  .container {
    width: 90%;
    height: 740px;
    margin: 0 auto;
    /* overflow: hidden; */
  }
  
  .circle-carousel {
    position: relative;
    padding-top: 100%;
    
  }
  .circle-carousel .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .circle-carousel .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -140px;
    color: #A84F9A;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
  }
  .circle-carousel .slide.active {
    z-index: 1;
    opacity: 1;
  }
  .circle-carousel .pagination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    transition-property: transform;
    transition-timing-function: ease-out;
    pointer-events: none;
    user-select: none;
  }
  .circle-carousel .pagination .dot {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    pointer-events: auto;
    transition: .3s;
  }
  .circle-carousel .pagination .dot:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: black;
  }
  .circle-carousel .pagination .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .circle-carousel .pagination .item.active .dot {
    color: black;
    transform: scale(2);
    left: 0;
    right: 0;
    margin: auto;
    top: -50px;
  }
  .dot span img{
      max-width: 90px;
  }
  .circle-carousel .next,
  .circle-carousel .prev,
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    position: absolute;
    bottom: 6%;
    z-index: 1;
    transition: .3s;
    user-select: none;
    width: 35px;
    height: 40px;
    background-color: #A84F9A;
    border-radius: 0 15px 15px 0;
  }
  .circle-carousel .next::before,
  .circle-carousel .prev::before,
  .slick-arrow.slick-prev::before,
  .slick-arrow.slick-next::before {
    content: '';
    position: absolute;
    background: url(../../images/path.png) no-repeat;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: .3s;
    width: 20px;
    height: 20px;
    left: 5px;
    top: calc(50% - 10px);
  }

  .circle-carousel .next:hover,
  .circle-carousel .prev:hover,
  .slick-arrow.slick-prev:hover,
  .slick-arrow.slick-next:hover {
    cursor: pointer;

  }

  .circle-carousel .next,
  .slick-arrow.slick-next {
    right: 38%;
    bottom: 61%;
  }
  .circle-carousel .next::before, .slick-arrow.slick-next::before {
    transform: rotateY(180deg);
  }
  .circle-carousel .prev::before, .slick-arrow.slick-prev::before{
    top: calc(50% - 10px);
    left: 20px;
    top: 20px;
  }
  .circle-carousel .prev, .slick-arrow.slick-prev {
    left: 38%;
    bottom: 61%;
    border-radius: 15px 0 0 15px;
  }
  .prilipalyInfo{
    width: 560px;
    min-height: 200px;
    background: url(../../images/gamesTextBg.png) no-repeat;
    background-size: contain;
    position: absolute;
    padding: 30px;
    bottom: 65%;
    left: 0;
    right: 0;
    margin: auto;
    /* z-index: 5; */
  }
  .prilipalyInfo h4{
      text-align: center;
      font-size: 20px;
      font-family: Ubuntu;
      position: relative;
      transform: rotate(-2deg);
  }
  .prilipalyInfo > p{
    font-size: 14px;
    padding: 13px 10px;
    display: block;
    margin: auto;
  }
  h4.lined::before,
  h4.lined::after{
      content: '';
      max-width: 25%;
      width: 23%;
      height: 10px;
      background: url(../../images/line.png) no-repeat;
      position: absolute;
      top: calc(50% - 10px);
      background-size: contain;
     
  }
  h4.lined::before{
    left: 0;
    margin: 0 10px 0 0;
  }
  h4.lined::after{
    right: 0px;
    margin: 0 0 0 10px;
  }
  .prilipalyInfo::before,
  .prilipalyInfo::after{
      position: absolute;
      content: '';
      width: 80%;
      height: 70px;
      background: url(../../images/grass-block.png) no-repeat, url(../../images/grass-3-3.png) no-repeat;
      background-size: contain;
      background-position: left bottom, 50px -1px;
      top: -51px;
  }
  .prilipalyInfo::after{
      transform: translate(22%, -5px) scale(.7) rotateY(180deg);
  }
  .prilipalyInfo  p, .text-data{
      font-family: Ubuntu;
      color: #fff;
      padding: 15px;
      text-align: center;
      line-height: 1.5;
      transform: rotate(-1deg)
  }
  h4.header.smaller{
      font-size: 15px;
      position: relative;
      transform: rotate(-2deg);
  }