@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.startWindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 10;
}
.startWindowClose{
    background-color: #A84F9A;
    width: 130px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    display: block;
    cursor: pointer;   
    z-index: 10; 
    transform: rotate(2deg);
    font-family: 'Ubuntu', sans-serif;
}
.startWindow h2{
    width: 300px;
    color: #fff;
    display: block;
    margin: 50px 0;
    font-family: 'Ubuntu', sans-serif;
    font-variant: all-petite-caps;
    text-align: center;
}
.logoContainer{
    display: flex;
    justify-content: center;
    z-index: 10;
}
.logo-d{
    width: 300px;
    height: 150px;
    background: url(../../images/logo-dixy.png) no-repeat center;
    background-size: contain;
}
.logo-p{
    width: 300px;
    height: 150px;
    background: url(../../images/logo-prilipaly.png) no-repeat center;
    background-size: contain;
}
.startWindowClose:hover{
    background-color: #823976;
}
.Background-bot{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      background: linear-gradient(182deg, #ffdc71, #fca436);
      background-size: 200% 200%;
    
      animation: gradientAnimated 12s ease infinite;
  }
  
  @keyframes gradientAnimated {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }

.sandContainer{
    width: 100%;
    bottom: -25px;
    position: relative;
    height: 350px;
}
.sand{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.sand-1{
    background: url(../../images/back-sand.png) no-repeat;
    background-size: contain;
    background-position: 100% bottom;
    height: 370px;
    animation: swell 13s infinite linear;
    z-index: 10;
}
.sand-2{
    background: url(../../images/sec-sand.png) no-repeat;
    background-size: contain;
    background-position: 20% bottom;
    height: 195px;
    animation: swell 4s infinite linear;
    z-index: 20;
}
.sand-3{
    background: url(../../images/fr-sand.png) no-repeat;
    background-size: contain;
    background-position: 0 bottom;
    height: 230px;
    animation: swell 7s infinite;
    z-index: 30;
}
 
  .bounceInDown {
    animation: bounceInDown 1s;
  }
.grassContainer{
    width: 100%;
    height: 420px;
    position: absolute;
    /* z-index: 15; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
}
.grass-1{
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0;
 z-index: 0;
}
.grass-1-1{
  background: url(../../images/grass-2-2.png) no-repeat;
  width: 313px;
  height: 460px;
  position: absolute;
  bottom: 130px;
  background-size: contain;
}
.grass-1-2{
  background: url(../../images/grass-2-1.png) no-repeat;
  width: 296px;
  height: 270px;
  position: absolute;
  bottom: 30px;
  background-size: contain;
  animation: 3s windy-grass infinite;
}
.grass-2{
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 60;
  bottom: 0;
}
.grass-2-1{
  background: url(../../images/grass-3-1.png) no-repeat;
  width: 326px;
  height: 210px;
  position: absolute;
  bottom: -30px;
  background-size: contain;
  z-index: 50;
  animation: 10s windy-grass infinite;
  left: -5px;
}
.grass-2-2{
  background: url(../../images/grass-3-2.png) no-repeat;
  width: 266px;
  height: 148px;
  position: absolute;
  bottom: 0;
  background-size: contain;
  z-index: 50;
}
.grass-3{
  position: absolute;
  width: 188px;
  height: 480px;
  right: 0;
  bottom: 230px;
}
.grass-4{
    background: url(../../images/grass-1.png) no-repeat bottom;
    width: 480px;
    height: 370px;
    background-size: contain;
    position: absolute;
    bottom: -22px;
    right: -15px;
    z-index: 40;
}
.grass-3-1{
  background: url(../../images/grass-1-2.png) no-repeat;
  width: 160px;
  height: 410px;
  background-size: contain;
  position: absolute;
  right: -3px;
}
.grass-3-2{
  background: url(../../images/grass-1-1.png) no-repeat;
  width: 510px;
  height: 410px;
  background-size: contain;
  position: absolute;
  left: 10px;
  animation: 3s windy-grass infinite;
}

.parallax{
  transition: 1s all
}
  @keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }


@keyframes weave{
    0% {bottom: -7px; }
    50% { bottom: 0px; }
    100% {bottom: -7px; }
}
@keyframes windy-grass{
  0%{
    transform: rotate(5deg)
  }
  50%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(5deg)
  }
}
@keyframes swell {
    0%,
    100% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
}


