*{
    margin:0;
    padding:0;
}
.root-child{
    background: linear-gradient(182deg, #ffdc71, #fca436);
    background-size: 200% 200%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    animation: gradientAnimated 12s ease infinite;
}

@keyframes gradientAnimated {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}