*{
    margin:0;
    padding:0;
}
.root-child{
    background-size: 200% 200%;
    height: 100vh;
    position: relative;
}
.bg-bot{
    background: linear-gradient(360deg, #1685C1, #9EC4E5);
    animation: gradientAnimated2 5s ease infinite;
    min-height: 100vh
}
@keyframes gradientAnimated2{
    0%{
        filter: hue-rotate(0deg);    
    }
    50%{
        filter: hue-rotate(30deg);
    }
    100%{
        filter: hue-rotate(0deg);    
    }
}