@media(max-width:1801px){
    .girl img, .main-logo::after{
        max-height: 450px !important;
    }
    .main-logo::after{
        top: 24px!important;
    }
    .logo-p{
        width: 280px!important;
        height: 130px!important;
    }
    .main-logo{
        top: 132px!important;
    }
}
@media(max-width:1401px){
 .orange img{
     max-width: 100px!important;
 }
 .orange{
     bottom: -15px!important;
 }
}
@media(max-width: 1300px){
    .prilipalyContainer{
        align-items: center;
    }
    .orange {
        bottom: 47px!important;
    }
    .blueSec{
        right: 50px!important;
    }
    .infoBlock{
        font-size: 13px!important;
        max-width: 300px!important;
    }
    .prilipalyContainer{
        height: 290px!important;
    }
    .prilipalyContainer img{
        max-height: 150px!important;
    }
    .green{
        right: 165px!important;
        top: -143px!important;
    }
    .piggy{
        bottom: 45px!important;
    }
    .heart-box{
        bottom: 170px!important;
    }
    .dot span img{
        max-width: 100px!important;
        max-height: 100px!important;
    }
    .sliderContainer {
        height: 650px!important;
    }
    .prilipalyInfo{
        position: absolute!important;
        padding: 26px 12px!important;
        bottom: 62%!important;
        width: 440px!important;
        height: 166px!important;
    }
    .toys-1-2{
        left: 140px!important;
        top: -70px!important;
    }
    .toys-1-2 img {
        max-width: 80px!important;
    }
     .slick-arrow.slick-prev{
        left: 9%!important;
        bottom: 58%!important;
    }
    .slick-arrow.slick-next{
        right: 33%!important;
        bottom: 58%!important;
    }
    .slides h2{
        bottom: -42px!important;
        font-size: 25px!important;
    }
    .prilipalyInfo p{
        padding: 0!important;
    }
    .prilipalyInfo::before, .prilipalyInfo::after{
        height: 66px!important;
        top: -49px!important;
        background-position: 11px 0px, 47px 2px!important;
    }

    .circle-carousel .pagination{
        width: 100%!important;
        height: 100%!important;
    }
    .toys-2-1 img, .toys-3-4 img{
        max-width: 240px!important;
        max-height: 170px!important;
    }
    .toys-2-1{
        bottom: -290px!important;
    }
    .toys-3-4{
        bottom: 140px!important;
    }
    .contentBlocks{
        margin-bottom: -340px!important;
    }
    .videoContainer{
        min-height: 60vh!important;
    }
    .sponsorsDescription{
        margin-left: 40px!important;
        flex: 30%!important;
    }
    .sponsorsInfo{
        width: 484px!important;
        padding: 30px 20px!important;
    }
    .sponsorsCarousel{
        margin-left: 0!important;
    }
    .slick-slide img {
        display: block!important;
        max-width: 70px!important;
        height: auto!important;
    }
    .infoBlock::before{
        height: 142px!important;
        width: 75px!important;
        left: 41px!important;
        top: -100px!important;
    }
    .mapContainer .infoBlock{
        padding-top: 10px!important;
    }
    .welcomeContent .sand-3::before{
        bottom: 12%!important;
        height: 410px!important;
        width: 268px!important;
    }
    .welcomeContent .sand-3::after{
        bottom: 21%!important;
    }
    .welcomeContent .sand-1::before{
        height: 145px!important;
    }
    .grass-3{
        width: 158px!important;
        height: 390px!important;
    }
    .grass-3-1{
        width: 140px!important;
        height: 380px!important;
        left: 60px!important;
    }
    .grass-3-2{
        width: 170px!important;
        height: 270px!important;
        left: 60px !important;
    }
    .grass-4{
        width: 410px!important;
        height: 327px!important;
    }
    .welcomeContent .grass-4::after{
        right: 29%!important;
        top: -95px!important;
        height: 170px!important;
        width: 120px!important;
    }
    .prilipalyContainer{
        bottom: -13px!important;
    }
    .grass-1-1{
        width: 273px!important;
        height: 400px!important;
        bottom: 90px!important;
    }
    .grass-1-2{
        width: 246px!important;
        height: 210px!important;
    }
    .grass-2-1{
        width: 296px!important;
        height: 180px!important;  
    }
    .grass-2-2{
        width: 246px!important;
        height: 98px!important;
    }
    .main-logo{
        right: 34%!important;
    }
    .logoContainerWelcome .logo-p{
        right: 30%!important;
    }
    .sponsorsInfo::after{
        left: 20px!important;
        height: 85px!important;
        width: 70px!important;
        top: -52px !important;
    }
    .sponsorsInfo::before{
        top: -83px!important;
        height: 95px!important;
    }
    .sponsorsInfo{
        width: 470px!important;
    }
    .sponsorsInfo .text-data{
        font-size: 13px!important;
    }
    .goodsContainer{
        padding: 20px 0;
    }
    .formSearch {
        margin-top: 0px!important;
    }
    .circle-carousel .next, .slick-prev, .slick-next, .circle-carousel .prev, .slick-arrow.slick-prev, .slick-arrow.slick-next, .slick-arrow.slick-disabled{
        width: 25px!important;
        height: 30px!important;
    }
    .circle-carousel .next::before, .circle-carousel .prev::before, .slick-arrow.slick-prev::before, .slick-arrow.slick-next::before{
        left: 0px!important;
        width: 18px!important;
        height: 14px!important;
        top: calc(50% - 8px)!important;
        background-size: contain!important;
    }
    .circle-carousel .prev::before, .slick-arrow.slick-prev::before{
        left: 19px!important;
        top: 15px!important;
    }
    .slick-arrow.slick-next{
        left: 30%!important;
    }
    .currentGoodPage{
        left: 17.5%!important;
        bottom: 80px!important;
        font-size: 25px!important;
    }
    .goodsWindow{
        min-height: 46vh;
    }
}
@media(max-height: 801px){
    .main-logo::after{
        width: 220px!important;
        height: 442px!important;
        top: -26px!important;
        left: -3px!important;
    }
    .yellow{
        top: 150px!important;
        left: 100px!important;
    }
    .yellow .infoBlock{
        max-width: 250px!important;
        margin-left: -70px !important;
    }
    .sliderContainer {
        height: 650px!important;
    }
    .container {
        width: 86%!important;
    }
    .slides h2 {
        bottom: -18px!important;
    }
    .videoWindow .infoBlock span{
        font-size: 15px!important;
    }
    .searchingFormMap{
        top: 140px!important;
    }
    .phoneContainer img{
        display: block!important;
        margin: auto!important;
        max-height: 90%!important;
        width: 78%!important;
    }
    .phoneContainer
 iframe{
    position: absolute!important;
    bottom: 12%!important;
    width: 68%!important;
    height: 76%!important;
    left: 16%!important;
    border-radius: 4px!important;
 }
}
@media(max-height: 750px){
    .welcomeContent .sand-1::before{
        height: 110px!important;
        width: 90px!important;
        bottom: 44%!important;
    }

   
}