.goodsContainer{
    min-height: 30vh;
    background: linear-gradient(182deg, #FDB91A, #FF6118);
    position: relative;
}
.wavingBg{
    animation: ocean 37s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: .3;
    background: url(../../images/wave.svg) repeat-x;
    position: absolute;
    bottom: -40px;
    width: 6400px;
    height: 150px;
    transform: translate3d(0, 0, 0);
    background-size: contain;
}
@keyframes ocean {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}
@keyframes swell {
    0%,
    100% {
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
}