.mapContainer{
    height: 60vh;
    position: relative;
    z-index: 200;
}
.mapContainer .infoBlock{
    position: absolute;
    top: 60px;
    background: url(../../images/yellowTable.png) no-repeat;
    background-size: contain;
    transform: rotate(-2deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapContainer .infoBlock::before{
    content: '';
    position: absolute;
    left: 50px;
    top: -100px;
    height: 150px;
    width: 80px;
    background: url(../../images/prilipaly/11.png) no-repeat center;
    background-size: contain;
}
.mapContainer .infoBlock span{
    transform: rotate(-3deg);
    display: block;
}
.searchingFormMap{
    position: absolute;
    top: 180px;
    background: url(../../images/rectangle.png) no-repeat center;
    width: 300px;
    min-height: 300px;
    background-size: contain;
}
.shadowVioletOther{
    filter: drop-shadow(10px 10px 0 #944287)
}
.searchingFormMap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchingFormMap form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchingFormMap select,
.searchingFormMap input{
    display: block;
    padding: 8px 7px;
    background-color: #fff;
    border-radius: 2px;
    font-family: Ubuntu;
    font-size: 13px;
    margin: 10px auto;
    width: 190px;
    position: relative;
}
.searchingFormMap select + label{
    position: absolute;
    display: block;
}
.searchingFormMap select + label.region::after{
    content: '';
    position: absolute;
    background: url(../../images/arr.png) no-repeat center;
    width: 10px;
    height: 10px;
    background-size: contain;
    z-index: 350;
    right: -73px;
    top: -20px;
}
.searchingFormMap select + label::after{
    content: '';
    position: absolute;
    background: url(../../images/arr.png) no-repeat center;
    width: 10px;
    height: 10px;
    background-size: contain;
    z-index: 350;
    right: -73px;
    top: -70px;
    transform: rotate(0deg);
    transition: all .3s;
}
.searchingFormMap select:focus +label::after{
    transform: rotateX(180deg)
}
input.btn{
    background-color: #A84F9A;
    color: #fff;
    padding: 10px 0;
    transition: all .3s;

}
input.btn:hover{
    cursor: pointer;
    transform: translateY(-2px);
    filter: drop-shadow(1px 1px 3px #fff);
    background-color: #75386c;
    transition: all .3s;
}